html, body, #__next {
  height: 100%;
}
body {
  background: #f0f2f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.ant-card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.09);
}
